.App {
  text-align: center;
  margin: 0 auto;
}

h1,
h2 {
  color: #2e2e2e;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: #ebebeb;
  padding: 18px;
  margin: 12px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 12px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1558b0;
}

a {
  text-decoration: none;
  color: #1a73e8;
}

a:hover {
  color: #1558b0;
}

form {
  padding: 24px;
  border-radius: 10px;
  background-color: #fafafa;
  border: 1px solid #dcdcdc;
}

form div {
  margin-bottom: 18px;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}